doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header(class='navbar navbar-expand-lg navbar-light bg-light')
      a(class='navbar-brand', url='#') App Service Test App
      div(class='collapse navbar-collapse')
        ul(class='navbar-nav')
          li(class='nav-item')
            a(class='nav-link', href='/') Home
          li(class='nav-item')
            a(class='nav-link', href='/table') Table Storage
          li(class='nav-item')
            a(class='nav-link', href='/ip') Outbound IP
    div(class='container-fluid')
      div(class='row')
        div(class='col')
          block content
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
